.view-popup-home .views-field-edit-node a{
    background-color: #0082F4;
    border: 1px inset #0769BF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
    display:none;
}

.view-popup-home ul,
.view-popup-home li{
    margin:0!important;
    padding:0!important;
}

.view-popup-home .views-field-edit-node a:hover{
    border: 1px outset #0769BF;
    display:block;
}

.view-popup-home .view-content img {
    height: auto;
}

#popup-duracao{
    display: none;
}

.view-popup-home .views-exposed-form .views-exposed-widget .form-submit{
      margin-top: 14px;
}

.view-popup-home .views-field-phpcode {
    color: #FFF;
}

html.js #block-popup-popup {
    background: #fff;
    box-sizing: border-box;
    display: none;
    left: 25%;
    padding: 32px;
    position: fixed;
    top: 20%;
    width: 640px;
    z-index: 141;
}

#block-popup-popup #bt-fechar {
    background: #ff0000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    padding: 4px 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 42;
}

#block-popup-popup #bt-fechar:hover {
   background:#C41F35;
}
.block .views-field-field-popup-titulo {
    border: 1px solid #058ed0;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 21px;
    padding: 6px;
    text-align: center;
}

#block-popup-popup .view-content .item-list li .views-field-edit-node{
    top: 25px;
}

#fundo-escuro {
    background:#000;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 140;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    overflow: hidden;
}

#block-views-popup_home-block_2 {
    clear: both;
    float: right !important;
}